Debug
Release
obj
bare-metal.img
bare-metal.lst
*.o
*.elf
*.map
/glcncrpi.sdf
/glcncrpi.suo
/lib/libcircle.a
/lib/fs/fat/libfatfs.a
/lib/fs/libfs.a
/lib/input/libinput.a
/lib/net/libnet.a
/lib/usb/libusb.a
/*.opensdf
