/Debug
/cnc/axis/Debug
/cnc/axis/obj
*.o
*.elf
*.map
/glcncrpi.sdf
/glcncrpi.suo
/lib/obj
/lib/Debug
/lib/libcircle.a
bare-metal.img
bare-metal.lst
/lib/fs/fat/libfatfs.a
/lib/fs/libfs.a
/lib/input/libinput.a
/lib/net/libnet.a
/lib/usb/libusb.a
/*.opensdf
